# Framework principal
fastapi==0.114.2
uvicorn[standard]==0.30.6

# Base de datos (elige lo que uses)
sqlalchemy==2.0.35
psycopg2-binary==2.9.9   # si usas PostgreSQL
# sqlite viene con Python, no necesitas nada extra

# Manejo de variables de entorno
python-dotenv==1.0.1

# Validaciones y modelos
pydantic==2.9.2
